@tailwind base;
@tailwind components;
@tailwind utilities;

/*PRIMARY COLORS*/
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #36ae72;
    --foreground-secondary: #16482f;
    --primary-text-color: ##5b5b5b;
    --secondary-text-color: ##454545;
    --tertiary-text-color: #ffeb3b;
    --foreground-gradient: linear-gradient(to right, #36ae72, #16482f);
  }
}
